@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" href="/Home/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="ChangePassword" href="/Account/ChangePassword">ChangePassword</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" id="ChangePassword" href="/Account/Address">Address</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" href="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" href="/Account/Login">Login</a>
        </li>
    }
</ul>
